<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Provides various API needs such as downloader, converter, image processing, image creator, game username checker for web development, bot development, etc.">
<meta name="keywords" content="API, downloader, converter, image processing, web development, bot development, game username checker">
<meta name="author" content="Adrian">
<meta name="robots" content="index, follow">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/assets/style.css">
<script src="/assets/script.js"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<title><%= pageTitle %></title>