<div>
    <header class="fixed bg-white w-full z-50 px-8 md:px-44 py-8 flex justify-between select-none transition-[padding,box-shadow] duration-1000" id="mainHeader">
        <div class="text-2xl font-bold text-black hover:scale-110 duration-700">xyzen<span class="text-primary">api</span></div>
        <ul class="list-none hidden md:flex gap-6 items-center text-black">
            <li class="cursor-pointer font-semibold hover:text-primary duration-300"><a href="/">Home</a></li>
            <li class="cursor-pointer font-semibold hover:text-primary duration-300"><a href="/pricing">Pricing</a></li>
            <li class="cursor-pointer font-semibold hover:text-primary duration-300"><a href="/about">About</a></li>
        </ul>
        <div class="hidden md:flex items-center text-sm text-dark gap-6">
            <div class="cursor-pointer font-semibold"><a href="/login">Login</a></div>
            <div class="cursor-pointer bg-primary px-4 py-2 text-white rounded-full font-semibold"><a href="/login">Register</a></div>
        </div>
        <div class="md:hidden relative cursor-pointer" id="mobileMenuIcon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="text-black cursor-pointer" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg>
        </div>
    </header>
    <div class="fixed flex flex-col gap-4 z-40 inset-0 transition-[top] duration-700 select-none bg-white h-fit w-full py-4 px-8 -top-36 mobile-menu" id="mobileMenu">
        <ul class="list-none flex flex-col items-center gap-6 text-black">
            <li class="cursor-pointer font-semibold transition-colors duration-300 text-primary"><a href="/">Home</a></li>
            <li class="cursor-pointer font-semibold transition-colors duration-300"><a href="/pricing">Pricing</a></li>
            <li class="cursor-pointer font-semibold transition-colors duration-300"><a href="/about">About</a></li>
        </ul>
        <div class="flex items-center justify-center text-sm text-black gap-6">
            <div class="cursor-pointer font-semibold"><a href="/login">Login</a></div>
            <div class="cursor-pointer bg-primary px-4 py-2 text-white rounded-full font-semibold"><a href="/login">Register</a></div>
        </div>
    </div>
</div>